*.vsidx
.vs/slnx.sqlite
.vs/Export-Pokedata-To-CSV/v17/.suo
~$Layout of Report.xlsx
*.sqlite
*.json
*.db-wal
*.db-shm
*.db
.vs/Export-Pokedata-To-CSV/v17/.suo
.vs/Export-Pokedata-To-CSV/v17/DocumentLayout.backup.json
.vs/Export-Pokedata-To-CSV/v17/DocumentLayout.json
*.pyc
*.json
*.exe
*.json
.vs/Export-Pokedata-To-CSV/v17/.suo
*.zip
